TYPE=mssql
HOSTNAME=<URL>
DATABASE_PORT=<NUMBER>
USERNAME=<STRING>
PASSWORD=<STRING>
DATABASE=<STRING>
REFRESH_JWT_CACHE_PORT=6379
REFRESH_JWT_CACHE_HOST=<URL>
REFRESH_JWT_CACHE_PASSWORD=<STRING>
REFRESH_JWT_SECRET=<UUID>
ACCESS_JWT_SECRET=<UUID>